- render :partial => "admin/subjects/subject_inner_menu"

%h2 Edytuj materiał do wykładu

- form_for :resource, @resource, :html => { :method => :put }, :url => { :action => "update" } do |f|
  = render :partial => "resources_form", :locals => { :f => f, :resource => @resource }
  %p= f.submit "Edytuj"