
$main-uwr-color: #004e7f;
$second-uwr-color: #1483cb;
$light-uwr-color: #cedde6;

@mixin solid-main-uwr-border($side, $width: 1px) {
	border-#{$side}: $width solid $main-uwr-color;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 12px;
}

h2, h3 {
	color: $second-uwr-color;
}

/* --------- po id ------------ */

#header {
	@include solid-main-uwr-border(bottom, 2px);
}

#local_menu {
	float: left;
	width: 200px;

	ul {
		margin: 0;
		margin-left: 20px;
		margin-top: 10px;
		padding: 0;
		list-style-type: none;

		li {
			padding: 5px;
		}
	}
}

#content {
	margin-left: 201px;
	padding-bottom: 10px;
}

/* ------- tabele -------- */
.spis_table {
	width: 600px;

	th {
		padding: 4px;
		border: 1px solid $main-uwr-color;
		background: $light-uwr-color;
	}

	td {
		padding: 3px;
		border: 1px solid $light-uwr-color;
	}
}

#publikacje_table {
	width: 800px;
}

/* ------------ stopka ---------------- */

#footer {
	clear: both;
	padding: 5px;
	@include solid-main-uwr-border(top);
	text-align: center;
}