
$main-uwr-color: #004e7f;
$second-uwr-color: #1483cb;
$light-uwr-color: #cedde6;

@mixin solid-main-uwr-border($side, $width: 1px) {
	border-#{$side}: $width solid $main-uwr-color;
}

@import "timetable_public";

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 12px;
}

h2, h3 {
	color: $second-uwr-color;
}

/* --------- po id ------------ */

#header {
	@include solid-main-uwr-border(bottom, 2px);
}

#local_menu {
	float: left;
	width: 200px;

	ul {
		margin: 0;
		margin-left: 20px;
		margin-top: 10px;
		padding: 0;
		list-style-type: none;

		li {
			padding: 5px;
		}
	}
}

#content {
	margin-left: 201px;
	padding-bottom: 10px;
}

#listy_zadan_list {
	li {
		margin-bottom: 10px;
	}

	.lista_name {
		margin: 0px;

		.lista_deadline {
			font-style: italic;
		}
	}

	.lista_comment {
		margin: 3px 0px;
		font-size: 11px;
	}
}

#wyklady_list {
	list-style-type: none;

	li {
		.wyklad_title {
			margin: 0px;
			font-size: 13px;
			font-weight: bold;

			.wyklad_date {
				font-weight: normal;
				font-style: italic;
			}
		}

		.wyklad_abstract {
			margin: 10px 15px;
			text-align: justify;
		}
	}
}

#timetable_legend {
	margin: 0px;
	margin-top: -10px;
	padding: 15px 0px;
	list-style-type: none;

	li {
		margin: 2px;
		padding: 5px 10px;
		display: inline;

		&.ii_classes {
			@include timetable_types_menu_class($ii_classes_dark_bg, $ii_classes_light_bg, $ii_classes_dark_txt);
		}

		&.not_ii {
			@include timetable_types_menu_class($not_ii_dark_bg, $not_ii_light_bg, $not_ii_dark_txt);
		}

		&.violet {
			@include timetable_types_menu_class($violet_dark_bg, $violet_light_bg, $violet_dark_txt);
		}

		&.violet2 {
			@include timetable_types_menu_class($violet2_dark_bg, $violet2_light_bg, $violet2_dark_txt);
		}

		&.red {
			@include timetable_types_menu_class($red_dark_bg, $red_light_bg, $red_dark_txt);
		}

		&.yellow {
			@include timetable_types_menu_class($yellow_dark_bg, $yellow_light_bg, $yellow_dark_txt);
		}

		&.orange {
			@include timetable_types_menu_class($orange_dark_bg, $orange_light_bg, $orange_dark_txt);
		}
	}
}

/* ------- tabele -------- */
.spis_table {
	width: 600px;

	th {
		padding: 4px;
		border: 1px solid $main-uwr-color;
		background: $light-uwr-color;
	}

	td {
		padding: 3px;
		border: 1px solid $light-uwr-color;
	}
}

#publikacje_table {
	width: 800px;
}

/* ------------ stopka ---------------- */

#footer {
	clear: both;
	padding: 5px;
	@include solid-main-uwr-border(top);
	text-align: center;
}