@import "timetable_public";

#timetable {
	width: 865px;
	table-layout: fixed;
	border-spacing: 2px;

	th {
		width: 110px;
		padding: 3px;

		&#hours {
			width: 40px;
		}
	}

	td {
		background: url('../../images/stripes.png') repeat top;
		height: 400px;
		vertical-align: top;
		padding: 0px 3px;

		&#hours_td {
			background: none;
			padding: 3px;
		}

		div.hour {
			height: 31px;
		}

		div.timetable_column {
			position: relative;
		}
	}

	.event {
		min-height: 30px;
		width: 105px;
		position: absolute;
		font-size: 11px;
		overflow: hidden;

		border: 1px solid #000;
		border-radius: 5px;
		-moz-border-radius: 5px;
		background: #fff;

		.title {
			margin: 0px;
			padding: 1px 2px;
			overflow: hidden;
			white-space: nowrap;

			color: #000;
			background: #e9e9e9;
			border-top-right-radius: 3px;
			border-top-left-radius: 3px;
			-moz-border-top-right-radius: 3px;
			-moz-border-top-left-radius: 3px;
		}

		.time {
			margin: 0px;
			padding: 1px 2px;
		}

		.description {
			margin: 0px;
			padding: 1px 2px;
		}

		&:hover {
			z-index: 1000;
		}

		&.ii_classes {
			@include timetable_color_class($ii_classes_dark_bg, $ii_classes_light_bg, $ii_classes_dark_txt, $ii_classes_light_txt);
		}

		&.not_ii {
			@include timetable_color_class($not_ii_dark_bg, $not_ii_light_bg, $not_ii_dark_txt, $not_ii_light_txt);
		}

		&.violet {
			@include timetable_color_class($violet_dark_bg, $violet_light_bg, $violet_dark_txt, $violet_light_txt);
		}

		&.violet2 {
			@include timetable_color_class($violet2_dark_bg, $violet2_light_bg, $violet2_dark_txt, $violet2_light_txt);
		}

		&.red {
			@include timetable_color_class($red_dark_bg, $red_light_bg, $red_dark_txt, $red_light_txt);
		}

		&.yellow {
			@include timetable_color_class($yellow_dark_bg, $yellow_light_bg, $yellow_dark_txt, $yellow_light_txt);
		}

		&.orange {
			@include timetable_color_class($orange_dark_bg, $orange_light_bg, $orange_dark_txt, $orange_light_txt);
		}
	}
}