/* ---------------------------------------------------- */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 12px; }

form p label {
  display: block;
  width: 150px;
  float: left; }

/* ------------------ po id ------------------- */
#header {
  border-bottom: 2px solid #004e7f; }
#header #login_info {
  float: right;
  margin: 5px; }

#menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }
#menu ul li {
  margin: 0px 5px;
  float: left;
  background: #cedde6; }
#menu ul li a {
  display: block;
  padding: 5px 20px;
  text-decoration: none;
  font-weight: bold;
  color: #004e7f; }
#menu ul li a:hover {
  text-decoration: underline; }

#timetable_event_types_menu li {
  margin: 2px; }
#timetable_event_types_menu li .actions {
  float: right;
  padding: 1px 3px;
  background: #f0f0f0; }
#timetable_event_types_menu li.ii_classes {
  background: #cedde6;
  color: black;
  border: 1px solid #004e7f;
  border-radius: 5px;
  -moz-border-radius: 5px; }
#timetable_event_types_menu li.not_ii {
  background: #bee6c8;
  color: black;
  border: 1px solid #0b8600;
  border-radius: 5px;
  -moz-border-radius: 5px; }
#timetable_event_types_menu li.violet {
  background: #edd6ff;
  color: black;
  border: 1px solid #650386;
  border-radius: 5px;
  -moz-border-radius: 5px; }
#timetable_event_types_menu li.violet2 {
  background: #ffdcf7;
  color: black;
  border: 1px solid #d30086;
  border-radius: 5px;
  -moz-border-radius: 5px; }
#timetable_event_types_menu li.red {
  background: #ffe4dc;
  color: black;
  border: 1px solid #b11e00;
  border-radius: 5px;
  -moz-border-radius: 5px; }
#timetable_event_types_menu li.yellow {
  background: #fffbc9;
  color: black;
  border: 1px solid #ffd500;
  border-radius: 5px;
  -moz-border-radius: 5px; }
#timetable_event_types_menu li.orange {
  background: #fff0cd;
  color: black;
  border: 1px solid #f39600;
  border-radius: 5px;
  -moz-border-radius: 5px; }

/* ------- zawartosc ------- */
#content {
  clear: left;
  border-top: 2px solid #004e7f; }

#local_menu {
  float: left;
  width: 200px; }
#local_menu ul {
  margin: 0;
  margin-left: 20px;
  margin-top: 10px;
  padding: 0;
  list-style-type: none; }
#local_menu ul li {
  padding: 5px; }

#local_content {
  margin-left: 201px; }

.admin_table {
  width: 600px; }
.admin_table th {
  padding: 4px;
  border: 1px solid #004e7f;
  background: #cedde6; }
.admin_table td {
  padding: 3px;
  border: 1px solid #cedde6; }

#konsultacje_table #dzien {
  width: 150px; }
#konsultacje_table #godziny {
  width: 150px; }
#konsultacje_table #akcje {
  width: 60px; }

#publikacje_table {
  width: 800px; }

#exercises_lists_table {
  width: 800px; }

#lectures_table {
  width: 800px; }

#timetable {
  width: 800px; }
#timetable th {
  width: 110px; }
#timetable th#hours {
  width: 30px; }
#timetable td {
  background: url("../../images/stripes.png") repeat top;
  height: 400px;
  vertical-align: top;
  padding: 0px 3px; }
#timetable td#hours_td {
  background: none;
  padding: 3px; }
#timetable td div.hour {
  height: 31px; }
#timetable td div.timetable_column {
  position: relative; }
#timetable .event {
  min-height: 30px;
  width: 102px;
  position: absolute;
  font-size: 11px;
  border: 1px solid #000;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background: #fff; }
#timetable .event .title {
  margin: 0px;
  padding: 1px 2px;
  overflow: hidden;
  white-space: nowrap;
  color: #000;
  background: #e9e9e9;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-top-right-radius: 3px;
  -moz-border-top-left-radius: 3px; }
#timetable .event .time {
  margin: 0px;
  padding: 1px 2px; }
#timetable .event.ii_classes {
  border-color: #004e7f;
  background: #cedde6; }
#timetable .event.ii_classes .title {
  color: white;
  background: #004e7f; }
#timetable .event.not_ii {
  border-color: #0b8600;
  background: #bee6c8; }
#timetable .event.not_ii .title {
  color: white;
  background: #0b8600; }
#timetable .event.violet {
  border-color: #650386;
  background: #edd6ff; }
#timetable .event.violet .title {
  color: white;
  background: #650386; }
#timetable .event.violet2 {
  border-color: #d30086;
  background: #ffdcf7; }
#timetable .event.violet2 .title {
  color: white;
  background: #d30086; }
#timetable .event.red {
  border-color: #b11e00;
  background: #ffe4dc; }
#timetable .event.red .title {
  color: white;
  background: #b11e00; }
#timetable .event.yellow {
  border-color: #ffd500;
  background: #fffbc9; }
#timetable .event.yellow .title {
  color: white;
  background: #ffd500; }
#timetable .event.orange {
  border-color: #f39600;
  background: #fff0cd; }
#timetable .event.orange .title {
  color: white;
  background: #f39600; }

/* ------- stopka ------- */
#footer {
  padding: 5px;
  border-top: 1px solid #004e7f;
  text-align: center;
  clear: both; }
