body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 12px; }

form p label {
  display: block;
  width: 150px;
  float: left; }

/* ------------------ po id ------------------- */
#header {
  border-bottom: 2px solid #004e7f; }
#header #login_info {
  float: right;
  margin: 5px; }

#menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }
#menu ul li {
  margin: 0px 5px;
  float: left;
  background: #cedde6; }
#menu ul li a {
  display: block;
  padding: 5px 20px;
  text-decoration: none;
  font-weight: bold;
  color: #004e7f; }
#menu ul li a:hover {
  text-decoration: underline; }

#timetable_event_types_menu li .actions {
  float: right;
  padding: 1px 3px;
  background: #f0f0f0; }

/* ------- zawartosc ------- */
#content {
  clear: left;
  border-top: 2px solid #004e7f; }

#local_menu {
  float: left;
  width: 200px; }
#local_menu ul {
  margin: 0;
  margin-left: 20px;
  margin-top: 10px;
  padding: 0;
  list-style-type: none; }
#local_menu ul li {
  padding: 5px; }

#local_content {
  margin-left: 201px; }

.admin_table {
  width: 600px; }
.admin_table th {
  padding: 4px;
  border: 1px solid #004e7f;
  background: #cedde6; }
.admin_table td {
  padding: 3px;
  border: 1px solid #cedde6; }

#konsultacje_table #dzien {
  width: 150px; }
#konsultacje_table #godziny {
  width: 150px; }
#konsultacje_table #akcje {
  width: 60px; }

#publikacje_table {
  width: 800px; }

#exercises_lists_table {
  width: 800px; }

#lectures_table {
  width: 800px; }

#timetable {
  width: 800px; }
#timetable th {
  width: 110px; }
#timetable th#hours {
  width: 30px; }
#timetable td {
  background: url("../../images/stripes.png") repeat; }
#timetable td#hours_td {
  background: none; }
#timetable .event {
  border: 1px solid #000;
  min-height: 40px;
  background: #fff; }
#timetable .event .title {
  width: 100%;
  margin: 0px;
  background: #c9c9c9;
  white-space: nowrap;
  overflow: hidden; }
#timetable .event .time {
  margin: 0px; }

/* ------- stopka ------- */
#footer {
  padding: 5px;
  border-top: 1px solid #004e7f;
  text-align: center;
  clear: both; }
