- content_for(:local_menu) do
  %ul
    %li= link_to "Wróć do przedmiotów", admin_subjects_path
    %li= link_to_unless_current "Listy zadań"
    %li= link_to_unless_current "Wykłady"
    %li= link_to_unless_current "Materiały"