- render :partial => "subject_inner_menu"

%h2
  Edytuj
  =@subject.name

- form_for [:admin, @subject] do |f|
  =render :partial => "subject_form", :locals => { :f => f, :subject => @subject }

  %p= f.submit "Edytuj"