body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 12px; }

h3 {
  color: #1483cb; }

/* --------- po id ------------ */
#header {
  border-bottom: 2px solid #004e7f; }

#menu {
  float: left;
  width: 200px; }

#content {
  margin-left: 201px; }

/* ------------ stopka ---------------- */
#footer {
  clear: both;
  padding: 5px;
  border-top: 1px solid #004e7f;
  text-align: center; }
