body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 12px; }

h2, h3 {
  color: #1483cb; }

/* --------- po id ------------ */
#header {
  border-bottom: 2px solid #004e7f; }

#local_menu {
  float: left;
  width: 200px; }
#local_menu ul {
  margin: 0;
  margin-left: 20px;
  margin-top: 10px;
  padding: 0;
  list-style-type: none; }
#local_menu ul li {
  padding: 5px; }

#content {
  margin-left: 201px;
  padding-bottom: 10px; }

#listy_zadan_list li {
  margin-bottom: 10px; }
#listy_zadan_list .lista_name {
  margin: 0px; }
#listy_zadan_list .lista_name .lista_deadline {
  font-style: italic; }
#listy_zadan_list .lista_comment {
  margin: 3px 0px;
  font-size: 11px; }

#wyklady_list {
  list-style-type: none; }
#wyklady_list li .wyklad_title {
  margin: 0px;
  font-size: 13px;
  font-weight: bold; }
#wyklady_list li .wyklad_title .wyklad_date {
  font-weight: normal;
  font-style: italic; }
#wyklady_list li .wyklad_abstract {
  margin: 10px 15px;
  text-align: justify; }

/* ------- tabele -------- */
.spis_table {
  width: 600px; }
.spis_table th {
  padding: 4px;
  border: 1px solid #004e7f;
  background: #cedde6; }
.spis_table td {
  padding: 3px;
  border: 1px solid #cedde6; }

#publikacje_table {
  width: 800px; }

/* ------------ stopka ---------------- */
#footer {
  clear: both;
  padding: 5px;
  border-top: 1px solid #004e7f;
  text-align: center; }
