= render :partial => "left_menu"

%h2 Plan zajęć
%h3 Edytuj typ

= form_for [:admin, @evt_type], :url => admin_timetable_event_type_path(@evt_type) do |f|
  = render :partial => "type_form", :locals => { :f => f, :evt_type => @evt_type }
  %p{ :class => "cleared" }= f.submit "Zmień"