
$main-uwr-color: #004e7f;
$second-uwr-color: #1483cb;
$light-uwr-color: #cedde6;

@mixin solid-main-uwr-border($side, $width: 1px) {
	border-#{$side}: $width solid $main-uwr-color;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 12px;
}

form {
	p {
		label {
			display: block;
			width: 150px;
			float: left;
		}
	}
}

/* ------------------ po id ------------------- */

#header {
	@include solid-main-uwr-border(bottom, 2px);

	#login_info {
		float: right;
		margin: 5px;
	}
}

#menu {
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;

		li {
			margin: 0px 5px;
			float: left;

			background: $light-uwr-color;

			a {
				display: block;
				padding: 5px 20px;
				text-decoration: none;
				font-weight: bold;
				color: $main-uwr-color;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

/* ------- zawartosc ------- */

#content {
	clear: left;
	@include solid-main-uwr-border(top, 2px);
}

#local_menu {
	float: left;
	width: 200px;

	ul {
		margin: 0;
		margin-left: 20px;
		margin-top: 10px;
		padding: 0;
		list-style-type: none;

		li {
			padding: 5px;
		}
	}
}

#local_content {
	margin-left: 201px;
}

.admin_table {
	width: 600px;

	th {
		padding: 4px;
		border: 1px solid $main-uwr-color;
		background: $light-uwr-color;
	}

	td {
		padding: 3px;
		border: 1px solid $light-uwr-color;
	}
}

#konsultacje_table {
	#dzien {
		width: 150px;
	}

	#godziny {
		width: 150px;
	}

	#akcje {
		width: 60px;
	}
}

#publikacje_table {
	width: 800px;
}

#exercises_lists_table {
	width: 800px;
}

#lectures_table {
	width: 800px;
}

/* ------- stopka ------- */

#footer {
	padding: 5px;
	@include solid-main-uwr-border(top);
	text-align: center;
	clear: both;
}