
$main-uwr-color: #004e7f;
$second-uwr-color: #1483cb;
$light-uwr-color: #cedde6;

@mixin solid-main-uwr-border($side, $width: 1px) {
	border-#{$side}: $width solid $main-uwr-color;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

form {
	p {
		label {
			display: block;
			width: 150px;
			float: left;
		}
	}
}

/* ------------------ po id ------------------- */

#header {
	#login_info {
		float: right;
		margin: 5px;
	}
}

#menu {
	@include solid-main-uwr-border(top, 2px);
	@include solid-main-uwr-border(bottom, 2px);
	float: left;
	width: 100%;

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;

		li {
			margin: 0px 5px;
			float: left;

			background: $light-uwr-color;

			a {
				display: block;
				padding: 5px 20px;
				text-decoration: none;
				font-weight: bold;
				color: $main-uwr-color;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

/* ------- zawartosc ------- */

#content {
	clear: left;
}

#local_menu {
	float: left;
	width: 200px;
}

#local_content {
	margin-left: 201px;
}

/* ------- stopka ------- */

#footer {
	padding: 5px;
	@include solid-main-uwr-border(top);
	text-align: center;
}